@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Goldman:wght@400;700&family=Wallpoet&display=swap');

* {  
  margin: 0px;
  box-sizing: border-box;
  font-family: "Wallpoet", serif;
  list-style:none;
  
  }

header .navbar-brand {
  font-size:40px;
  color:rgb(0, 0, 0);
  margin:15px;
  text-shadow: 1px 1px 5px rgb(247, 248, 247);
  
  
}

.nav-link {
  color:rgb(0, 0, 0);
  font-size:20px;
  text-shadow: 1px 1px 5px rgb(247, 248, 247);
  
  
 }
 
.hero {
  font-size: 35px;
  color:#000000;
  text-shadow: 1px 1px 5px rgb(247, 248, 247);
  box-shadow: 0px 0px 4px 1px #f1f3f58e;
  background-color: #d3d8dd7c;
}


body {
  min-height: 100vh;
  background: url(images/office.webp) no-repeat center center/cover; 
}




/* main content  */
main {
  margin: 2px;
  flex: 1 0; 
  
 } 
main .card-body {
  border: 1px solid white;
  padding-top:20px;
  text-shadow: 1px 1px 5px rgb(247, 248, 247);
  
 
  
}

.card-body a {
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
}





/* footer */

nav li {
  list-style: none;
  font-size: 35px; 
  
}

.gplus {
  color: #db4a39;
  text-shadow: 1px 1px 5px rgb(247, 248, 247);
}

.github {
  color: #4078c0;
  text-shadow: 1px 1px 5px rgb(247, 248, 247);
}

.linkedin {
  color: #0077B5;
  text-shadow: 1px 1px 5px rgb(247, 248, 247);
}

.x {
  color: rgb(252, 248, 248);
  text-shadow: 1px 1px 5px rgb(247, 248, 247);
}



/* service page */
.position-static  {
  padding:20px;
  
 
}
.card-body {
  background-color: #d3d8dd7c;
  color:rgb(0, 0, 0);
  padding-bottom:40px;
  margin-bottom:40px;
  box-shadow: 0px 0px 4px 1px #8e90928e;
  border: 0.1px solid #8e90924d;

}
.card-body p {
  font-family: "Goldman", serif;
  font-size:20px;
  letter-spacing: 2px;
}
h5 { 
  font-size:30px;
}


/* media query  */

@media (min-width: 576px) and (max-width: 768px) {
  header .navbar-brand {
    font-size: 35px;
  }
  .nav-link {
    font-size: 19px;
  }
  .hero {
    font-size: 22px;
  }
  h5 {
    font-size: 26px;
  }
  .card-body p {
    font-size: 18px;
  }
}

/* Large devices (lg, 992px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  header .navbar-brand {
    font-size: 38px;
  }
  .hero {
    font-size: 24px;
  }
  h5 {
    font-size: 28px;
  }
}

/* Extra large devices (xl, 1200px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  header .navbar-brand {
    font-size: 40px;
  }
  .hero {
    font-size: 25px;
  }
}

/* Extra extra large devices (xxl, 1400px and up) */
@media (min-width: 1200px) and (max-width: 1400px) {
  header .navbar-brand {
    font-size: 42px;
  }
  h5 {
    font-size: 30px;
  }
}

/* ---------------------------use this----------------------------------------- */

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }