@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Chau+Philomene+One:ital@0;1&family=Orbitron:wght@400..900&display=swap');



* {
padding: 0;
margin: 0px;
/* box-sizing: border-box; */
   
   
}
main {
  flex: 1 0 auto;
  margin-top: 47px;
    
    
}
body {
min-height: 100vh;
display: flex;
flex-direction: column;
/* change color leter on  */
color:#575757;
background: url(/images/dark\ mode.webp) no-repeat center center/cover;
}
header {
    
display: flex;
flex-direction: column;
/* change color leter on */
color:#575757;
margin-bottom: 20px;
box-shadow: 0px 0px 20px 20px #1213149f;
background-color: #121314ab;
}



  /* ------------------Nav--------------------------- */
  
    
nav {
background-color: rgba(128, 128, 128, 0.24);
padding: 5px;
display: flex;
justify-content: space-between;
align-items: center; 
font-family: "Orbitron", sans-serif;
font-size: 20px;
}
  


  
    
nav .logo {
color: rgb(248, 250, 248);
font-size: 98px;
text-decoration: none;
margin-left: 40px;
margin-top: 10px;
font-family: "Orbitron", sans-serif;

/* change font looks bad */

}

nav ul {
list-style-type: none;
display: flex;
/* border:2px solid red; */
}

    
  

nav ul li {
margin-left: 20px; 
/* border:2px solid green; */
}

nav ul li a {
color: rgb(248, 250, 248);
text-decoration: none;
font-size: 34px;
padding: 10px;
transition: background-color 0.3s;
margin-right: 50px;
/* border: 3px solid orange; */
}

nav ul li a:hover {
background-color: #a5a9b1;
border-radius: 5px;
} 
  
  
  /* ----------------------------End of nav---------------------------------------------------- */

  /* -------------------------hero-------------------------------------  */

    
#hero {
  background-color: rgba(102, 93, 93, 0.644);
  margin-left: 55%;
  height: 350px;
  padding-top: 40px;
  padding-left: 10px;
  font-family: "Orbitron", sans-serif;
  color: rgb(248, 250, 248);
  font-size: 35px;
 
}
#hero #cover-text h2{
  padding: 20px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  
  }
  #hero #cover-text h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px
  }
  

  /* --------------------------container (4 tiles) */

  

#tiles{
  width: 80%;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:30px;
  margin: auto;
  margin-top:10%;
  font-family: "Orbitron", sans-serif;
  color: rgb(248, 250, 248);
  font-size: 20px;
  margin-bottom: 10px;
 
  /* border:2px solid red; */
  
  
  
}
.tile1, .tile2, .tile3, .tile4 {
  
  height: 350px;  
  padding: 10px;
  background-color: #575a5e9f;
  /* border:3px solid green; */
  border-radius: 2%;  
  font-size: 20px;
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-wrap: wrap;
}
 
#tiles .small-button {
  
  background-color: #3868ec; 
  color: rgb(236, 226, 226); 
  padding: 5px 5px; 
  border: none; 
  width: 30%;
  border-radius: 5px; 
  text-align: center; 
  text-decoration: none; 
  font-size: 20px; 
  cursor: pointer; 
  
  
  
  

}
.icon { 
  color:rgb(240, 240, 245);
  font-size: 46px;
  margin-left: 20px;
}
  /* ---------------------footer----------------------------------------------------- */


  #social-networks {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  list-style: none; 
  position: relative;
  width: 100%;
  padding:20px;
  margin-bottom: 40px;
  z-index: 100;
  box-shadow: 0px 0px 20px 20px #121314b0;
  background-color: #121314ab;
  /* border: 3px solid red; */
}
  
#social-networks a {
  font-size: 60px;
  
}  
#social-networks ol i {
  background-color: none;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  list-style: none; 
 
}
  
#social-networks a {
font-size: 55px;
}  
#social-networks ol i {
  background-color: none;
}

.gplus  {
 color:#db4a39;
 text-decoration: none;
} 
.github  {
 color: #4078c0; 
 text-decoration: none;
}
.linkedin {
 color: #0077B5;
 text-decoration: none;
}
.x {
 color:white;
 text-decoration: none;
}


/* ---------------------Extras---------------------------------- */

#gallery {
  display: flex;
  justify-content: center;   
  align-items: center;       
  margin: 0 100px;
             
  padding-bottom: 10px;     
}



#photos {
  width: 80%; 
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  


}

#photos img {
  width: 85%; 
  margin-bottom: 20px; 
  border: 1px solid rgb(85, 241, 46);
  box-shadow: 0px 0px 15px 5px #f2f3f5ec;
}

/* ------------------media------------------------------------- */
